body {
  color: green;
  background: black;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.letter-div {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  cursor: default;
  user-select: none;
  /* filter: blur(1px) contrast(40); */
  position: fixed;
  top: 0;
  left: 0;
  writing-mode: vertical-rl;
  /* text-align: center; */
  /* line-height: 13px; */
  display: block;
  overflow: hidden;
  width: 20px;
}